<h4>Edit User</h4>
<form name="userEditForm" novalidate>

    <md-input-container class="md-block" flex-gt-sm>
        <label for="first_name">First Name</label>
        <md-icon ng-md-icon icon="account_circle" style="fill: black" size="24"></md-icon>
        <input type="text" id="first_name" name="first_name" ng-model="$ctrl.list[0].user.first_name">

        <div ng-if="userEditForm.first_name.$dirty" ng-messages="userEditForm.first_name.$error">
            <div ng-messages-include="./views/ngMessages/ngMessages.html"></div>
        </div>
    </md-input-container>
    <md-input-container class="md-block" flex-gt-sm>
        <label for="last_name">Last Name</label>
        <md-icon ng-md-icon icon="email" style="fill: black" size="24"></md-icon>
        <input type="text" id="last_name" name="last_name" ng-model="$ctrl.list[0].user.last_name" ng-minlength="4" ng-maxlength="254">

        <div ng-if="userEditForm.last_name.$dirty" ng-messages="userEditForm.last_name.$error">
            <div ng-messages-include="./views/ngMessages/ngMessages.html"></div>
        </div>
    </md-input-container>

    <div layout="row" layout-align="end center">
        <md-button ng-click="$ctrl.update($ctrl.list[0].user.id)" ng-disabled="userEditForm.$invalid" class="md-raised md-primary md-hue-3">
            <ng-md-icon icon="input" style="fill: black" size="24"></ng-md-icon>
            Update
        </md-button>
    </div>

</form>

<md-divider></md-divider>

<!--
<pre><code>{{$ctrl.list[0].user.first_name | json: 2}}</code></pre>
<pre><code>{{$ctrl.list[0].user.last_name | json: 2}}</code></pre>
-->
<pre><code>{{$ctrl.list | json: 2}}</code></pre>

<!--
<form method="POST" action="http://localhost:8000/users/p3de9j/password" accept-charset="UTF-8" class="form-inline" role="form">
    <div class="row">
        <div class="small-6 large-centered columns">
            <h4>Change Password</h4>

            <div class="row">
                <div class="small-3 columns">
                    <label for="right-label" class="right inline">Current</label>
                </div>
                <div class="small-9 columns">
                    <input placeholder="Old Password" name="oldPassword" value="" id="oldPassword" type="password">

                </div>
            </div>

            <div class="row">
                <div class="small-3 columns">
                    <label for="right-label" class="right inline">New</label>
                </div>
                <div class="small-9 columns">
                    <input class="form-control" placeholder="New Password" name="newPassword" value="" id="newPassword" type="password">

                </div>
            </div>

            <div class="row">
                <div class="small-3 columns">
                    <label for="right-label" class="right inline">Confirm</label>
                </div>
                <div class="small-9 columns">
                    <input class="form-control" placeholder="Confirm New Password" name="newPassword_confirmation" value="" id="newPassword_confirmation" type="password">

                </div>
            </div>

            <div class="row">
                <div class="small-9 small-offset-3 columns">
                    <input name="_token" value="92gMDe5FQk4ebwR4w6qwKeYwtDVTmh9h0AVcpBVZ" type="hidden">
                    <input class="button" value="Change Password" type="submit">
                </div>
            </div>

        </div>
    </div>
</form>-->
