<h4>Group Memberships</h4>
<form name="editGroupMemberships" novalidate>

    <div ng-repeat="group in $ctrl.groups">
        <md-checkbox name="groups[{{ group.name }}]" ng-model="$ctrl.membership[group.name]" ng-true-value="1">
            {{ group.name }}
        </md-checkbox>
    </div>

    <md-divider></md-divider>

    <div layout="row" layout-align="end center">
        <md-button ng-click="$ctrl.updateGroupMemberships($ctrl.list[0].user.id)" ng-disabled="editGroupMemberships.$invalid" class="md-raised md-primary md-hue-3">
            <ng-md-icon icon="input" style="fill: black" size="24"></ng-md-icon>
            Update
        </md-button>
    </div>
</form>

<pre><code>Current membership : {{$ctrl.permissions | json: 2}}</code></pre>
<!--<pre><code>{{$ctrl.list[0].groups | json: 2}}</code></pre>-->
<!--
array:3 [▼
  "Users" => "1"
  "Ikea" => "1"
  "Borheim" => "1"
]
-->
<md-divider></md-divider>

<pre><code>{{$ctrl.list | json: 2}}</code></pre>