/**
 * password-strength.scss
 * Created by @anonymoussc on 01/01/16 18:50.
 */

.password-strength-indicator {
  position : absolute;
  top      : 0px;
  right    : 10px;
  width    : 5px;
  padding  : 0 15px;
}

.password-strength-indicator span {
  display       : block;
  width         : 5px;
  height        : 5px;
  margin-bottom : 2px;
  background    : #ebeef1;
  border-radius : 5px;
}