<md-toolbar class="md-table-toolbar md-default" ng-show="!vm.selected.length">
    <div class="md-toolbar-tools">
        <span></span>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.loadStuff()">
            <md-icon ng-md-icon icon="refresh" style="fill: black" size="24"></md-icon>
            <md-tooltip md-direction="bottom">Refresh</md-tooltip>
        </md-button>
    </div>
</md-toolbar>

<md-toolbar class="md-accent" ng-show="vm.selected.length">
    <div class="md-toolbar-tools">
        <span>{{vm.selected.length}} {{vm.selected.length > 1 ? 'items' : 'item'}} selected</span>
        <span flex></span>
        <md-button class="md-icon-button">
            <md-icon ng-md-icon icon="delete" style="fill: black" size="24"></md-icon>
            <md-tooltip md-direction="bottom">Delete</md-tooltip>
        </md-button>
        <md-button class="md-icon-button">
            <md-icon ng-md-icon icon="more_vert" style="fill: black" size="24"></md-icon>
            <md-tooltip md-direction="bottom">More</md-tooltip>
        </md-button>
    </div>
</md-toolbar>

<md-table-container>
    <table data-md-table data-md-row-select="!hideCheckboxes" data-ng-model="vm.selected" md-progress="vm.promise">
        <thead md-head md-order="vm.query.order" md-on-reorder="vm.onReorder">
        <tr md-row>
            <th md-column ng-repeat="column in vm.columns" md-numeric="column.numeric" md-order-by="{{column.orderBy}}">
                <span>{{column.name}}</span>
                <span ng-if="column.unit">({{column.unit}})</span>
            </th>
        </tr>
        </thead>
        <!--
        <thead ng-if="!hideHead" md-head md-order="vm.query.order" md-on-reorder="vm.onReorder">
        <tr md-row>
            <th md-column md:order:by="name"><span>Name</span></th>
            <th md-column md:order:by="permissions"><span>Permissions</span></th>
        </tr>
        </thead>
        -->
        <tbody md-body>
        <tr md-row md:select="record" data-md-on-select="vm.log" md-on-deselect="vm.deselect" x-md-auto-select="!autoSelect" ng-disabled="((record.id === 2) && (record.name === 'Admins'))" data-ng-repeat="record in vm.records.data | filter: filter.search | orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit">
            <td md-cell>{{record.username}}</td>
            <td md-cell>{{record.email}}</td>
            <td md-cell>{{record.permissions}}</td>
            <td md-cell>{{record.activated}}</td>
            <td md-cell>{{record.status}}</td>
        </tr>
        </tbody>
    </table>
</md-table-container>

<data-md-table-pagination md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.records.count}}" md-on-paginate="vm.onPaginate" md-page-select></data-md-table-pagination>