<h4>Change password</h4>
<form name="changePasswordForm" novalidate>
    <md-input-container class="md-block" flex-gt-sm>
        <label for="old_password">Old Password</label>
        <md-icon ng-md-icon icon="lock_outline" style="fill: black" size="24"></md-icon>
        <input password-strength type="password" id="old_password" name="old_password" ng-model="$ctrl.list[0].user.old_password" ng-minlength="8" required>

        <div ng-if="changePasswordForm.old_password.$dirty" ng-messages="changePasswordForm.old_password.$error">
            <div ng-messages-include="./views/ngMessages/ngMessages.html"></div>
        </div>
    </md-input-container>
    <md-input-container class="md-block" flex-gt-sm>
        <label for="newPassword">Password</label>
        <md-icon ng-md-icon icon="lock" style="fill: black" size="24"></md-icon>
        <input password-strength type="password" id="newPassword" name="newPassword" ng-model="$ctrl.list[0].user.newPassword" ng-minlength="8" required>

        <div ng-if="changePasswordForm.newPassword.$dirty" ng-messages="changePasswordForm.newPassword.$error">
            <div ng-messages-include="./views/ngMessages/ngMessages.html"></div>
        </div>
    </md-input-container>
    <md-input-container class="md-block" flex-gt-sm>
        <label for="newPassword_confirmation">Confirm Password</label>
        <md-icon ng-md-icon icon="lock" style="fill: black" size="24"></md-icon>
        <input password-match="$ctrl.list[0].user.newPassword" type="password" id="newPassword_confirmation" name="newPassword_confirmation" ng-model="$ctrl.list[0].user.newPassword_confirmation" ng-minlength="8" required>

        <div ng-if="changePasswordForm.newPassword_confirmation.$dirty" ng-messages="changePasswordForm.newPassword_confirmation.$error">
            <div ng-messages-include="./views/ngMessages/ngMessages.html"></div>
        </div>
    </md-input-container>
    <div layout="row" layout-align="end center">
        <md-button ng-click="$ctrl.update($ctrl.list[0].user.id)" ng-disabled="changePasswordForm.$invalid" class="md-raised md-primary md-hue-3">
            <ng-md-icon icon="input" style="fill: black" size="24"></ng-md-icon>
            Update
        </md-button>
    </div>
</form>

<md-divider></md-divider>

<pre><code>{{$ctrl.list | json: 2}}</code></pre>