<md-content flex layout-padding>
    <div layout="row" layout-wrap>
        <div flex="30" hide-sm hide-md></div>
        <div flex="auto">
            <form>
                <md-input-container>
                    <label for="email">Email</label>
                    <input type="text" id="email" ng-model="" md-autofocus>
                </md-input-container>
                <md-input-container>
                    <label for="password">Password</label>
                    <input type="text" id="password" ng-model="">
                </md-input-container>
                <div layout="row" layout-align="end center">
                    <md-button ng-click="" class="md-raised md-primary md-hue-3">
                        Sign-in
                    </md-button>
                </div>
            </form>
        </div>
        <div flex="25" hide-sm hide-md></div>
    </div>
</md-content>