<form name="userCreateForm" novalidate>
    <md-input-container class="md-block" flex-gt-sm>
        <label for="username">Username</label>
        <md-icon ng-md-icon icon="account_circle" style="fill: black" size="24"></md-icon>
        <input type="text" id="username" name="username" ng-model="ctrl.username" required>

        <div ng-if="userCreateForm.username.$dirty" ng-messages="userCreateForm.username.$error">
            <div ng-messages-include="./views/ngMessages/ngMessages.html"></div>
        </div>
    </md-input-container>
    <md-input-container class="md-block" flex-gt-sm>
        <label for="email">Email</label>
        <md-icon ng-md-icon icon="email" style="fill: black" size="24"></md-icon>
        <input type="email" id="email" name="email" ng-model="ctrl.email" ng-minlength="4" ng-maxlength="254" required>

        <div ng-if="userCreateForm.email.$dirty" ng-messages="userCreateForm.email.$error">
            <div ng-messages-include="./views/ngMessages/ngMessages.html"></div>
        </div>
    </md-input-container>
    <md-input-container class="md-block" flex-gt-sm>
        <label for="password">Password</label>
        <md-icon ng-md-icon icon="lock" style="fill: black" size="24"></md-icon>
        <input password-strength type="password" id="password" name="password" ng-model="ctrl.password" ng-minlength="8" required>

        <div ng-if="userCreateForm.password.$dirty" ng-messages="userCreateForm.password.$error">
            <div ng-messages-include="./views/ngMessages/ngMessages.html"></div>
        </div>
    </md-input-container>
    <md-input-container class="md-block" flex-gt-sm>
        <label for="password_confirmation">Confirm Password</label>
        <md-icon ng-md-icon icon="lock" style="fill: black" size="24"></md-icon>
        <input password-match="ctrl.password" type="password" id="password_confirmation" name="password_confirmation" ng-model="ctrl.password_confirmation" ng-minlength="8" required>

        <div ng-if="userCreateForm.password_confirmation.$dirty" ng-messages="userCreateForm.password_confirmation.$error">
            <div ng-messages-include="./views/ngMessages/ngMessages.html"></div>
        </div>
    </md-input-container>

    <md-checkbox ng-model="ctrl.activate" ng-true-value="'activate'" class="md-warn" flex>
        Activated
    </md-checkbox>

    <div layout="row" layout-align="end center">
        <md-button ng-click="ctrl.create()" ng-disabled="userCreateForm.$invalid" class="md-raised md-primary md-hue-3">
            <ng-md-icon icon="input" style="fill: black" size="24"></ng-md-icon>
            Create
        </md-button>
    </div>
</form>