<form name="resetPasswordForm" novalidate>
    <md-input-container class="md-block" flex-gt-sm>
        <label for="newPassword">New Password</label>
        <md-icon ng-md-icon icon="lock" style="fill: black" size="24"></md-icon>
        <input password-strength type="password" id="newPassword" name="newPassword" ng-model="$ctrl.newPassword" ng-minlength="8" required>

        <div ng-if="resetPasswordForm.newPassword.$dirty" ng-messages="resetPasswordForm.newPassword.$error">
            <div ng-messages-include="./views/ngMessages/ngMessages.html"></div>
        </div>
    </md-input-container>
    <md-input-container class="md-block" flex-gt-sm>
        <label for="newPassword_confirmation">Confirm Password</label>
        <md-icon ng-md-icon icon="lock" style="fill: black" size="24"></md-icon>
        <input password-match="$ctrl.newPassword" type="password" id="newPassword_confirmation" name="newPassword_confirmation" ng-model="$ctrl.newPassword_confirmation" ng-minlength="8" required>

        <div ng-if="resetPasswordForm.newPassword_confirmation.$dirty" ng-messages="resetPasswordForm.newPassword_confirmation.$error">
            <div ng-messages-include="./views/ngMessages/ngMessages.html"></div>
        </div>
    </md-input-container>
    <div layout="row" layout-align="end center">
        <md-button ng-click="$ctrl.resetPassword()" ng-disabled="resetPasswordForm.$invalid" class="md-raised md-primary md-hue-3">
            <ng-md-icon icon="input" style="fill: black" size="24"></ng-md-icon>
            Reset Password
        </md-button>
    </div>
</form>

<pre><code>{{$ctrl.canReset | json: 2}}</code></pre>