<md-content flex layout-padding>
    <div class="">
        <h5 ng-if="authenticated">Welcome, {{currentUser.name}}</h5>

        <h3>Users</h3>

        <div class="">
            <button class="" ng-click="jwtAuth.getUsers()">Get Users!</button>
            <button class="" ng-click="jwtAuth.logout()">Logout</button>
        </div>
        <ul class="" ng-if="jwtAuth.users">
            <li class="" ng-repeat="user in jwtAuth.users">
                <h4>{{user.name}}</h4>
                <h5>{{user.email}}</h5>
            </li>
        </ul>
        <div class="" ng-if="jwtAuth.error">
            <strong>There was an error: </strong> {{jwtAuth.error.error}}
            <br>Please go back and login again
        </div>
    </div>
</md-content>
