<form name="signinForm" novalidate>
    <!--<p class="" ng-if="ctrl.loginError"><strong>Error:</strong> {{ctrl.loginErrorText}}</p>-->
    <md-input-container class="md-block">
        <label for="email">Email</label>
        <md-icon ng-md-icon icon="email" style="fill: black" size="24"></md-icon>
        <input type="email" id="email" name="email" ng-model="ctrl.email" ng-minlength="4" ng-maxlength="254" required>

        <div ng-if="signinForm.email.$dirty" ng-messages="signinForm.email.$error">
            <div ng-messages-include="./views/ngMessages/ngMessages.html"></div>
        </div>
    </md-input-container>
    <md-input-container class="md-block">
        <label for="password">Password</label>
        <md-icon ng-md-icon icon="lock" style="fill: black" size="24"></md-icon>
        <input type="password" id="password" name="password" ng-model="ctrl.password" ng-minlength="8" required>

        <div ng-if="signinForm.password.$dirty" ng-messages="signinForm.password.$error">
            <div ng-messages-include="./views/ngMessages/ngMessages.html"></div>
        </div>
    </md-input-container>
    <div layout="row" layout-align="end center">
        <md-button ng-click="ctrl.login()" ng-disabled="signinForm.$invalid" class="md-raised md-primary md-hue-3">
            <ng-md-icon icon="login" style="fill: black" size="24"></ng-md-icon>
            Sign-in
        </md-button>
    </div>
    <p class="u-center">
        <small>Don't have an account? <a ui-sref="jwtauth.signup">Sign up</a></small>
    </p>
</form>