<form name="groupCreateForm" novalidate xmlns:>
    <md-input-container class="md-block">
        <label for="name">Name</label>
        <md-icon ng-md-icon icon="group" style="fill: black" size="24"></md-icon>
        <input id="name" name="name" ng-model="groupCreateForm.name" ng-minlength="4" required>
        <div ng-if="groupCreateForm.name.$dirty" ng-messages="groupCreateForm.name.$error">
            <div ng-messages-include="./views/ng-messages/ng-messages.html"></div>
        </div>
    </md-input-container>
    <div ng-repeat="permission in vm.defaultPermissions">
        <md-checkbox name="permissions[{{ permission.name }}]" value="1">
            {{ permission.name }}
        </md-checkbox>
    </div>

    <div layout="row" layout-align="end center">
        <md-button ng-click="" ng-disabled="signinForm.$invalid" class="md-raised md-primary md-hue-3">
            <ng-md-icon icon="send" style="fill: black" size="24"></ng-md-icon> Create
        </md-button>
    </div>
</form>

